[Unit]
Description=internal dwpanel server
after=network.target
WorkingDirectory=/etc/openvpn/scripts
User=root
Group=root

[Service]
ExecStart=/bin/php -S 127.0.0.1:999 -t /etc/openvpn/scripts/
ExecStop=kill -9 $(pidof php -S)

[Install]
WantedBy=multi-user.target

